div {
	display: inline-block;
}

.container {
	white-space: nowrap;
	width: 100% !important;
	margin-top: 18px;
}

.diqr {
	margin: 0 7%;
}

table.text-tbl {
	width: 100%;
}

table.text-tbl tr td {
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}
